<html>
    <head>
        <title>New post</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
            

            <link rel="stylesheet" href="/new.css">
            <link rel="stylesheet" href="/labelcount.css">
            <style>
                body{
              background-image: url(protruding-squares.svg);


            }
          .border-3{
            border-width: 3px !important;
          }.read-content{
font-size: large; font-weight: 500;
}            
              </style>
    
    
        </head>
    <body>

        <%- include('base.ejs'); -%>

        <br><br><br>
        <div class="form-group form-fix">
            <form action="/new" method="POST">
                <div class="form-group">
                    <label for="title"><h5>Title : </h5></label>
                    <input type="text" name="title" class="form-control" required>
                  </div>
                  
                  <div class="form-group">
                    <div class=" ratio ratio-16x9 w-75 my-4 border border-3 bg-white border-secondary rounded-lg" style="overflow:hidden; height: fit-content; "> <img id="pvImg" loading="lazy" src="" alt="Image Preview: Paste URL"
                        style="width:100%; object-fit: cover; ;" onerror="this.src='insertImg.png'">
                        </div>
                    <label for="Image-URL"><h5>Paste the Image-URL : </h5></label>
                    <input onchange="imgPreview(this.value)" type="text" id="img_url" name="img_url" class="form-control" required>
                  </div>
                
                  <div class="form-group">
                    <label for="category"><h5>Category : </h5></label>
                    <select name="category" id="category">
                        <option value="AI">AI</option>
                        <option value="Cybersecurity">Cybersecurity</option>
                        <option value="Web Technologies">Web Technologies</option>
                        <option value="Blockchain">Blockchain</option>
                        <option value="Others">Others</option>
                      </select>
                  </div>
    
                <label for="content"><h5>Content : </h5></label>
                 <textarea class="form-control" name="content" rows="3" id="contentarea" required></textarea>
                 <p><span id="lblcount">0</span>/3000</p>
                <br> <br>
                <input type="submit" value="Submit" class="btn btn-success">
            </form>

            <br>
            
            <hr>
            <center>
                <h1>Preview</h1>
                <div class="read-content bg-light  " style="font-size: large; font-weight: 500; text-align: left;"id="preview-div">
                    
                </div>
            </center>


            <script src="/js/preview.js"></script>
            <script>
                $(document).ready(function(){
                    $("#contentarea").on('keyup', function() {
                        var max = 3000,
                            len = this.value.length,
                            lbl = $('#lblcount');
                        if(len >= max) {
                            lbl.text(' you have reached the limit')
                            .addClass("lblCountRed").removeClass('lblCountGreen');
                        } else {
                            var ch = len;
                            lbl.text(ch)
                            .addClass("lblCountGreen").removeClass('lblCountRed');
                        }
                    });
                });
            </script>
        </div>
    </body>
   
</html>